<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LionTech:ServerEnvironment" value="Testing" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <add name="SERPConnection" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.1.213;Database=LionGroupSERP;Uid=LionGroupSERPdbo;Pwd=LionGroupSERPdboPWD;" />
        <add name="SERPConnection2" connectionString="data source=DBA-USERP;initial catalog=LionGroupSERP;user id=LionGroupSERPdbo;password=LionGroupSERPdboPWD;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>